$container-width: 85px;
$button-size: 30px;
.toggle {
  width: $container-width;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 41px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  button {
    transition: all 0.1s ease-out;
    transform: translateX(0);
    width: 30px;
    height: 30px;
    border: 1px solid#ccc;
    border-radius: 100px;
    margin: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
}

.toogle-off {
  background-color: red;
}

.toogle-on {
  background-color: green;
  button {
    transform: translateX(49px);
  }
}
